* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to top left, rgb(59, 59, 238), rgb(28, 168, 28));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top left, orange, rgb(209, 38, 118));
  border-radius: 10px;
  padding: 3em;
  box-shadow: 5px 5px 30px;
}

input {
  font-size: 20px;
  font-weight: 600;
  height: 3em;
  color: whitesmoke;
  background-color: black;
}
.container .input {
  border-radius: 5px 5px 0 0;
}
table {
  padding: 0.5em;
  background-color: beige;
  border-radius: 0 0 5px 5px;
  border-spacing: 0.4em;
}
td {
  font-size: 20px;
  font-weight: 600;
  border: solid 1px gray;
  box-shadow: 2px 2px 4px;
  border-radius: 5px;
  text-align: center;
  padding: 0.8em 1.2em;
  transition: all 0.2s ease;
}
td:hover {
  background-color: grey;
  cursor: pointer;
}

#equal {
  background-color: rgb(235, 163, 31);
  transition: 0.2s ease;
}

#equal:hover {
  background-color: rgb(95, 95, 250);
}
